<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="../webService/app.js"></script>
</head>
<body ng-app="newsFeed" ng-controller="MainCtrl">
  <div class="row">
  
    <div class="col-md-6 col-md-offset-1">
    
      <div class="page-header">
        <h1>News Feed</h1>
      </div>

      <div class="postsDiv" ng-repeat="post in posts | orderBy: '-likes'">
        <span ng-click="like(post)" class="glyphicon glyphicon-thumbs-up"></span>
        {{post.title}} - likes: {{post.likes}}
      </div>

    </div>

  </div>
  

  <form class="col-md-3 col-md-offset-1" ng-submit="addPost()">
    <h3>Add New Post</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" ng-model="title">
    </div>
    
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</body>
</html>